.flexbox-container {
    display: flex;
    height: 700px;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    /* box-shadow: green; */
    /* align-content: flex-center; */

}
.flexbox-item {
    width: 200px;
    margin: 10px;
    border: 10px solid blue;
    background-color: red;
    color: white;
    text-align-last: center;
    box-shadow: 10px 10px green;
    /* text-align:; */
}
.sample-rounded-box {
border-radius: 10px;
}
div.only-bottom-rounded {
border-radius: 0 0 10px 10px;
}
div.circle {
width: 100px;
height: 100px;
border-radius: 50px;
line-height: 100px;      
}